<%- include('headerC.ejs'); %>

<main>
    <% if(books.length > 0){ %>
      <section class="lista-2">
      <h2 class="lista-title">Livros Cadastrados</h2>
      <div class="lista-scroll-2">
      <% books.forEach(book => { %>
        <a href="/user/addLivroLendo/<%= book.id %>"><img class="livro-2" src="<%= book.caminhoCapa %>"></a>
        <% }) }else { %>
          <p class="p-semLivro">Não há livros no banco de dados, por favor adicione</p>
        <% } %>
      </div>
  </section>
</main>

<%- include('footer.ejs'); %>
