<%- include('header.ejs'); %>

<main>
  <section class="lista">
    <h2 class="lista-title">Lendo</h2>
    <div class="lista-scroll">
      <div class="livro">livro</div>
      <div class="livro">livro</div>
      <div class="livro">livro</div>
      <div class="livro">livro</div>
      <div class="livro">livro</div>
      <div class="livro">livro</div>
      <div class="livro">livro</div>
      <div class="livro">livro</div>
      <div class="livro">livro</div>
      <div class="livro">livro</div>
      <div class="livro">livro</div>
      <div class="livro">livro</div>
    </div>
  </section>
  <section class="lista">
    <h2 class="lista-title">Ler Depois</h2>
    <div class="lista-scroll">
      <div class="livro">livro</div>
    </div>
  </section>
  <section class="lista">
    <h2 class="lista-title">Lidos</h2>
    <div class="lista-scroll">
      <div class="livro">livro</div>
    </div>
  </section>
</main>

<%- include('footer.ejs'); %>